@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
    .social {
        margin-left: 500px;
    }
    .social__item {
        margin-bottom: 20px;
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .social {
        margin-left: 300px;
    }
    .social__item {
        margin-bottom: 10px;
    }
    .header {
        max-width: 1024px;
        height: 700px;
        margin: 0;
    }
    .about__me {
        padding: 0;
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    body {
        font-size: 100px;
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    body {
        font-size: 15px;
    }
    h1 {
        font-size: 30px;
    }
    .social {
        display: none;
    }
    p {
        font-size: 15px;
    }
    h3 {
        display: none;
    }
    .about__text {
        display: none;
    }
    .about__text:after {
        display: none;
    }
    .name {
        padding: 0;
        margin: 0;
    }
    .header {
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }
    .button {
        font-size: 15px;
        margin-left: 20px;
    }
    .modal-open {
        font-size: 10px;
    }
    .modal-body {
        text-align: left;
    }
    .modal {
        width: 400px;
        margin-left: 10px;
        & .modal-title {
            font-size: 16px;
        }
    }
    .navbar-toggler {
        background-color: #696969;
    }
    .navbar-brand {
        color: #696969;
        font-size: 20px;
        font-weight: bold;
        display: block;
    }
    .about__title {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 15px;
        & h2 {
            font-size: 15px;
        }
    }
    .resume {
        padding: 0;
    }
    .about__me {
        margin: 0;
    }
}


/*==========  Mobile First  ==========*/

@media (max-width: 375px) {
    h1 {
        font-size: 20px;
    }
    .button {
        margin-left: 15px;
    }
    h2 {
        font-size: 15px;
    }
    .resume {
        padding: 0;
    }
    .about__me {
        margin: 0;
    }
    .modal {
        width: 350px;
        margin-left: 15px;
        & .modal-title {
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    body {
        font-size: 20px;
    }
    .about__me {
        margin-top: 30px;
    }
}