.progress {
    height: 30px;
    margin-bottom: 30px;
}

.progress-bar {
    text-align: start;
    padding: 10px;
    font-size: 20px;
    color: #000;
}

.git {
    background-color: #f14e32;
}

.js {
    background-color: yellow;
}

.bootstrap {
    background-color: #563D7C;
}

.gulp {
    background-color: #cf4645;
}

.sass {
    background-color: #bf4080;
}

.html {
    background-color: orange;
}

.skills {
    background-image: url(../img/ipad.png);
    background-size: contain;
    background-repeat: no-repeat;
}